<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="robotA"/>
    <arg name="tf_prefix" default="$(arg namespace)"/>

    <param name="robot_description" command="cat $(find addverb_heal_description)/urdf/robot.urdf" />
    <param name="robot_description_semantic" textfile="$(find heal_moveit_config)/config/robot.srdf" />

    <rosparam file="$(find addverb_cobot_control)/config/default_controllers.yaml" command="load" />
    <rosparam file="$(find addverb_cobot_control)/config/payload_param.yaml" command="load" />

    <param name="robot_namespace" value="$(arg namespace)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(arg namespace)" />
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          args="joint_state_controller velocity_controller twist_controller joint_trajectory_controller" />

    <node name="control_node" pkg="addverb_cobot_control" type="control_node" required="true" respawn="false" output="screen" />

    <node name="end_effector_publisher" pkg="addverb_heal_data_broadcaster" type="end_effector_publisher.py" output="screen" />
</launch>
